<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FITTFU Fantasy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52032E5F1E18BEE700A2DECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52032E731E18BEE700A2DECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52032E7E1E18BEE700A2DECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
